polars
transformers
datasets
scikit-learn
tqdm
numpy
accelerate
bitsandbytes
peft
trl
matplotlib
seaborn
# IMPORTANT!!!! : Make sure to install your CORRECT CUDA version of PyTorch
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision